html {
    background-color: #333;
    color: #ccc;
    font-family: monospace;
    font-size: 16px;
}

h1 {
    color: #6897bb;
}

p.loader {
    padding-left: 22px;
}

.json-container {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}

.json-container .json-key {
    color: inherit;
}